<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441967245404-fub3gg487oqarro21fbblcu5jqh72l2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441967245404-fub3gg487oqarro21fbblcu5jqh72l2g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>441967245404-5qcqhtboprrs1u0majqln0u99gfp38ip.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfAunrXvEMCQa1CKyYtQG_QpR2iAWeZI0</string>
	<key>GCM_SENDER_ID</key>
	<string>441967245404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appthena.diabetes</string>
	<key>PROJECT_ID</key>
	<string>diabetes-933e2</string>
	<key>STORAGE_BUCKET</key>
	<string>diabetes-933e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441967245404:ios:a88fd360ba4e548ad58e99</string>
	<key>DATABASE_URL</key>
	<string>https://diabetes-933e2.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4618958028128729~2798988071</string>
</dict>
</plist>